* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input[type='text']::placeholder {
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00bcd44a;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}


@keyframes rotating {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}


.login {
  /* position: absolute ; */
  /* inset: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  /* transition: 0.5s; */
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  box-shadow: inset 0 18px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  overflow: hidden;
}

/* .box:hover .login {
  inset: 40px;
} */

.SignUpBx {
  /* content: ''; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  height: 340px;
  /* transition: 0.5s; */
  /* transform: translateY(86px); */
}

/* .box:hover .SignUpBx {
  transform: translateY(0px);
} */

.SignUpBx h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.SignUpBx h2 i {
  color: #ff2770;
}

.SignUpBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: 2px solid #fff;
}

.SignUpBx input::placeholder {
  color: #999
}

.SignUpBx input[type="submit"],
.SignUpBx button {
  background: #45f3ff;
  border: none;
  font-weight: 500;
  color: #111;
  cursor: pointer;
  transition: 0.5s;
}

.SignUpBx input[type="submit"]:hover,
.SignUpBx button:hover {
  box-shadow: 0 0 10px #45f3ff, 0 0 60px #45f3ff;
}


.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.group a {
  color: #fff;
  text-decoration: underline;
}

.group a:nth-child(2) {
  color: #ff2770;
}