.navbar {
  background-color: #ecebeb7a;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.navbarEnd {
  color: #8d279f;
  font-weight: bold;
  width: 40px;
  margin-right: 10px;
}

@media only screen and (max-width:480px) {

  .navbarEnd {
    width: 25px !important;
  }
}